@import'ngx-toastr/toastr';

.toast-success {
  background-color: #28a745 !important;
  color: #fff !important;
  font-weight: 500;
}

.toast-error {
  background-color: #dc3545 !important;
  color: #fff !important;
  font-weight: 500;
}

.toast-info {
  background-color: #0dcaf0 !important;
  color: #fff !important;
}

.toast-warning {
  background-color: #ffc107 !important;
  color: #000 !important;
}

.toast-center-center {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.loader-toast {
  background: rgba(30,30,30,0.9) !important;
  color: #fff !important;
  font-size: 18px !important;
  padding: 20px !important;
  border-radius: 12px !important;
  text-align: center !important;
}
